.card-in-hand {
    margin-left: -4vw !important;
}

.hand {
    display: inline-flex !important;
    white-space: nowrap !important;
    margin-right: 10px !important;
    border-bottom: 3px black;
}