.playing-card {
    min-width: 60px !important;
    width: 7vw !important;
    height: auto !important;
    display: inline-flex !important;
    margin-right: -10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.fitted {
    width: 200px !important;
}

.active {
    box-shadow: 0px 0px 30px white;
}